
@{
    ViewBag.Title = "ERP";
}

<h2>ERP</h2>

<div class="button-div-erp">
    <button class="btn btn-primary btn-lg btn-margin" onclick="location.href='@Url.Action("Login", "ERP")'">Admin</button>
    <button class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Login", "Teachers")'">Teacher</button>
</div>