
/*
    This software developed by Raihan Mahmud
    B.Sc in Software Engineering in Daffodil International University
    Dhaka, Bangladesh.
*/

body {
    padding: 0;
    margin: 0;
}

/*Layout*/
.menu{
    float:left;
}

.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    padding: 15px;
    position: relative;
    width: 160px;
    vertical-align: middle;
    background-color: #34495E;
    cursor: pointer;
    border-top: 1px solid #BDC3C7;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu ul li:hover{
    background-color: #2ECC71;
}

.menu > ul > li{
    border-right: 5px solid #F1C40F;
}

.icon{
    margin-right: 15px;
    color: white;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
}
/*End*/

/*Body*/
.body-right{
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 40px;
}

/*Admin Actions CSS*/
.admin-action-icon{
    margin-right: 2px;
    color: white;
}

.admin-back-icon{
    margin-right: 4px;
    color: #428bca;
}

.admin-action-teacher{
    color: #fff;
    text-decoration: none;
}

.admin-action-teacher:hover{
    text-decoration: none;
}

.admin-action-btn{
    margin: 3px;
}
/*End*/

/*Common Margin*/
.t-margin{
    margin-top: -240px;
}

/*Add Teachers ID*/
.btn-add-t{
    margin-top: -420px;
}

/*Add Section*/
.btn-add-s{
    margin-top: -300px;
}

/*Update Teacher Info*/
.btn-update-t{
    margin-top: -300px;
}

/*Assign & Update Subject*/
.a-cls-t{
    margin-top: -240px;
}

.a-sec-t{
    margin-top: -170px;
}

.a-sub-t{
    margin-top: -100px;
}

.btn-assign-t{
    margin-top: -30px;
}
/*End*/

/*Add & Update Students*/

.a-stdnt-nme{
    margin-top: -240px;
}

.a-stdnt-img{
    margin-top: -190px;
}

.a-stdnt-dob{
    margin-top: -140px;
}

.a-stdnt-gndr{
    margin-top: -90px;
}

.gndr-m{
    margin-left: 5px;
    margin-right: 15px;
}

.gndr-fm{
    margin-left: 5px;
}

.a-stdnt-eml{
    margin-top: -40px;
}

.a-stdnt-phn{

}

.a-stdnt-adrs{

}

.btn-add-stdnt{
    
}

.u-stdnt-dob{
    margin-top: -240px;
}

.u-stdnt-gndr{
    margin-top: -190px;
}

.u-stdnt-eml{
    margin-top: -140px;
}

.u-stdnt-phn{
    margin-top: -70px;
}

.u-stdnt-adrs{
    margin-top: 0px;
}

.btn-updt-stdnt{
    margin-top: 20px;
}
/*End*/

/*Assign & Update Class*/
.a-cls-cls{
    margin-top: -240px;
}

.a-sec-cls{
    margin-top: -170px;
}

.a-year-cls{
    margin-top: -100px;
}

.a-roll-cls{
    margin-top: -30px;
}

.btn-assign-cls{
    margin-top: 20px;
}
/*End*/

/*Notice Board*/
.file-margin{
    margin-top: -170px;
}

.btn-publish{
    margin-top: -120px;
}
/*End*/

/*Search*/
.search-key {
    width: 123px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-key:focus {
    width: 100%;
}

.btn-sr{
    width: 40px;
    height: 35px;

    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-sr:hover {
    border: 1px solid #6A5ACD;
    background: #4682B4;
}
/*End*/