@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*
    This software developed by Raihan Mahmud
    B.Sc in Software Engineering in Daffodil International University
    Dhaka, Bangladesh.
*@

<p>
    Through the smart school system every student can get individual subject result and all the information of his school in online. <br/>
    Teachers can easily entry marks and attendance. Parents can take their son's daughter's information very easily.
</p>
